<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"  parallel="classes" thread-count="1">
    <listeners>
       <!-- <listener class-name="Listerner.ExtentReporterManager"/>-->
      <listener class-name="reporting.ReportListener"></listener>
        <listener class-name="reporting.TestAllureListener"/>
    </listeners>
    <test verbose="5" name="Parallel Test Suite">
        <classes>
            <class name="runners.Register"></class>
            <class name="runners.TestRunnerForProject"/>
            <class name="runners.MaintenanceTest"></class>
            <class name="runners.PortFolioTest"></class>
            <class name="runners.DirectoriesTest"></class>
            <class name="runners.ImportTest"></class>
        </classes>
    </test>
</suite>

